body {
  background-color: #007cba;
  color: #fff;
  text-align: center;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

ul {
  list-style-type: none;
  font-size: 2rem;
  padding: 0;
}
li {
  display: inline;
}

li {
  padding: 0.8rem;
}
